name: Chromatic

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 10

      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Enable Corepack
        run: corepack enable

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Run Chromatic (main branch)
        run: yarn ./packages/storybook-native-app chromatic --auto-accept-changes
        if: ${{ github.ref == 'refs/heads/main' }}
        env:
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}

      - name: Run Chromatic
        run: yarn ./packages/storybook-native-app chromatic
        if: ${{ github.ref != 'refs/heads/main' }}
        env:
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
