name: Chromatic

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 10

      - name: Install bun
        uses: oven-sh/setup-bun@v2

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          check-latest: true

      - name: Install Dependencies
        run: bun i --frozen-lockfile

      - name: Run Chromatic (main branch)
        run: cd ./packages/storybook-native-app && bun chromatic --auto-accept-changes
        if: ${{ github.ref == 'refs/heads/main' }}
        env:
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}

      - name: Run Chromatic
        run: cd ./packages/storybook-native-app && bun chromatic
        if: ${{ github.ref != 'refs/heads/main' }}
        env:
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
